body {
	font-family: 'Arimo', helvetica;
	font-size: 20px;
	color: #555555;
	background-color: #ffffff;
}

input {
	font-family: 'Arimo', helvetica;
	font-size: 20px;
	width: 100%;
}

a {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #555555;
}

a:hover {
	color: #00709b;
	cursor: pointer;
}

#adv_yoctogi {
	position: fixed;
	right: 5px;
	bottom: 5px;
	text-align: right;
	color: #555555;
	font-size: 12px;
}

.pmccontainer {
	display: table;
	overflow: auto;
	padding-top: 15px;
}

.linkedlabel {
	font-style: italic;
	padding-right: 11px;
	color: #888888;
}

.noresultsfound {
	font-size: 16px;
	font-style: italic;
	color: #555555;
}

.titlecontainer {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #555555;
}

.titlecontainer:hover {
	color: #00709b;
        cursor: pointer;
}

.resulttitle {
	font-weight: bold;
}

.resulttitle-selected {
	color: #8bcc00;
	font-weight: bold;
	font-style: italic;
}

.resultlink {
	background-color: #eeeeee;
	margin-right: 21px;
	border-left-style: solid;
	border-left-width: 13px;
	padding: 2px;
}

.resultlink-selected {
	color: #8bcc00;
	background-color: #eeeeee;
	font-style: italic;
	margin-right: 21px;
	border-left-style: solid;
	border-left-width: 13px;
	padding: 2px;
}

.genescontainer {
	float: left;
	font-size: 13px;
	color: #ff0000;
}

.speciescontainer {
	font-size: 13px;
}

.termscontainer {
	font-size: 13px;
}

.optionsswitch {
	display: block;
	color: #333333;
	background-color: #fefefe;
	font-family: 'Numans', courier;
	font-size: 12px;
	float: left;
	cursor: pointer;
	margin-top: 4px;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	border-radius: 11px;
	-moz-border-radius: 11px;
}

.optionsswitch:hover {
	background-color: #8BCC00;
	color: #000000;
	border-style: solid;
	border-color: #6bac00;
	border-width: 1px;
	border-radius: 11px
	-moz-border-radius: 11px
}

.downloadbutton {
	display: inline;
	width: 130px;
	color: #555555;
	background-color: #d0d0d0;
	font-family: 'Numans', courier;
	font-size: 12px;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-right: 13px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.downloadbutton-selected {
	display: inline;
	width: 130px;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Numans', courier;
	font-size: 13px;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-right: 13px;
	padding: 4px;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.downloadbutton-selected:hover {
	cursor: default;
}

.downloadbutton:hover {
	background-color: #a0a0a0;
	color: #000000;
	cursor: pointer;
}

.downloadlink {
	color: #ffffff;
	background-color: #8BCC00;
	margin-top: 7px;
}

.downloadlink:hover {
	background-color: #bbfc00;
	cursor: pointer;
}

.overTxtLabel {
	color: #aaaaaa;
	font-style: italic;
}

.closebutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.browsebutton {
	margin-left: 7px;
}

.browsebutton:hover {
	cursor: pointer;
}

#logo {
	float: right;
	padding-left: 10px;
	padding-right: 20px;
	margin-top: -20px;
}

.signatures {
	font-style: italic;
	text-align: right;
}

#header {
	background-color: #d0d0d0;
	font-family: 'Numans', courier;
	border-radius: 15px;
	-moz-border-radius: 15px;
	height: 30px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 28px;
}

#options {
	background-color: #a0a0a0;
	font-family: 'Numans', courier;
	border-radius: 15px;
	-moz-border-radius: 15px;
	height: 30px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 26px;
}

#aboutswitch {
	color: #333333;
	background-color: #ffffff;
	font-size: 12px;
	float: left;
	margin-top: 4px;
	margin-left: 13px;
	margin-right: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	border-radius: 11px;
	-moz-border-radius: 11px;
}

#aboutswitch:hover {
	color: #00acee;
	background-color: #bbfc00;
	border-style: solid;
	border-color: #c0c0c0;
	border-width: 1px;
	border-radius: 11px;
	-moz-border-radius: 11px;
}

#releaseswitch {
	color: #333333;
	background-color: #ffffff;
	font-size: 12px;
	float: left;
	margin-top: 4px;
	margin-left: 13px;
	margin-right: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	border-radius: 11px;
	-moz-border-radius: 11px;
}

#releaseswitch:hover {
	color: #00acee;
	background-color: #bbfc00;
	border-style: solid;
	border-color: #c0c0c0;
	border-width: 1px;
	border-radius: 11px;
	-moz-border-radius: 11px;
}

#about {
	color: #555555;
	font-family: 'Arimo', helvetica;
	font-size: 13px;
	background-color: #d0d0d0;
	margin-top: -29px;
	margin-bottom: 26px;
	margin-left: 70px;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 26px;
	padding-bottom: 13px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	visibility: hidden;
}

#release {
	color: #555555;
	font-family: 'Arimo', helvetica;
	font-size: 13px;
	background-color: #d0d0d0;
	margin-top: -29px;
	margin-bottom: 26pt;
	margin-left: 70px;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 0px;
	padding-bottom: 13px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	visibility: hidden;
}

#release h3 {
	background-color: #8bcc00;
	padding: 5px;
	cursor: pointer;
	margin-bottom: 0px;
}

#release .releasenote {
	background-color: #f0f0f0;
	padding-left: 5px;
	padding-right: 5px;
}

#release table {
	font-size: 13px;
}

#release td {
	padding: 1px 12px;
}

.tablenumber {
	text-align: right;
}

.helpbar {
	display: table;
	color: #00adee;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 5px;
	margin-left: 16px;
}

.helpitem {
	display: table-cell;
	padding-right: 9px;
	vertical-align: middle;
}

.row {
	display: table;
	overflow: auto;
}

.toprow {
	display: table;
	overflow: auto;
	margin-top: -10px;
}

.stage {
	display: table-cell;
	color: #50515E;
	float: left;
	font-family: 'Numans', courier;
	margin-right: 26px;
	font-size: 100px;
	vertical-align: top;
}

.example {
	font-size: 16px;
}

.stageaction {
	display: table-cell;
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
}

.stagesuggestions {
	display: table-cell;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	-x-height: 280px;
}

.stageresults {
	display: table-cell;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	-x-height: 280px;
}

#suggestioncontainer {
	display: block;
	float: left;
	width: 100%;
	-x-min-height: 260px;
}

#resultcontainer {
	display: block;
	float: left;
	width: 100%;
	line-height: 28px;
}
	
#resultdownloads {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

#resultbrowse {
	display: block;
	float: left;
	width: 100%;
	line-height: 26px;
}

.browsetext {
	font-family: 'Arimo', helvetica;
	font-size: 16px;
	font-style: italic;
}

.sortedtext {
	font-family: 'Arimo', helvetica;
	font-size: 16px;
	font-style: italic;
	margin-left: 20px;
}

.sortedbutton {
	font-family: 'Arimo', helvetica;
	font-size: 16px;
	font-style: italic;
	margin-left: 13px;
}

.sortedbutton:hover {
	color: #00709b;
}

.sortedbutton-selected {
	font-family: 'Arimo', helvetica;
	font-size: 16px;
	font-style: italic;
	margin-left: 13px;
	color: #8bcc00;
}

.suggestiontable {
	float: left;
	width: '33%';
}

.notificationimportant {
	display: block;
	font-family: 'Arimo', helvetica;
	font-size: 22px;
	text-align: center;
	color: #ff4444;
	margin-bottom: 16px;
}

table {
	cursor: default;
}

tr.table-tr-hovered {
	color: #4b7c00;
	cursor: pointer;
}

tr.table-tr-selected {
	color: #8bcc00;
	font-style: italic;
}

td.suggestiontable {
	font-family: 'Arimo', helvetica;
	font-size: 13px;
}

