body {
	font-family: helvetica;
	font-size: 16pt;
	color: #666666;
	background-color: #ffffff;
}

input {
	font-family: helvetica;
	font-size: 16pt;
}

.closebutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#suggestioncontainer {
	display: block;
	float: left;
	width: 100%;
}

#resultcontainer {
	display: block;
	float: left;
	width: 100%;
}

.suggestiontable {
	float: left;
	width: '33%';
}

tr.table-tr-hovered {
	color: #6666ff;
}

tr.table-tr-selected {
	color: #0000ff;
}

td.suggestiontable {
	font-family: helvetica;
	font-size: 10pt;
}

