body {
	font-family: helvetica;
	font-size: 16pt;
	color: #555555;
	background-color: #ffffff;
}

input {
	font-family: helvetica;
	font-size: 16pt;
	width: 100%;
}

a {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #555555;
}

a:hover {
	color: #00709b;
	cursor: pointer;
}

.pmccontainer {
	display: table;
	overflow: auto;
	padding-top: 15px;
}

.linkedlabel {
	font-style: italic;
	padding-right: 8pt;
	color: #888888;
}

.titlecontainer {
	font-size: 12pt;
	font-weight: bold;
	color: #555555;
}

.titlecontainer:hover {
	color: #00709b;
        cursor: pointer;
}

.genescontainer {
	float: left;
	font-size: 11pt;
	color: #ff0000;
}

.resulttitle {
	font-weight: bold;
}

.resulttitle-selected {
	color: #8bcc00;
	font-weight: bold;
	font-style: italic;
}

.resultlink {
	margin-right: 15pt;
	border-radius: 7px;
	-moz-border-radius: 7px;
	border-left-style: solid;
	border-left-width: 10pt;
}

.resultlink-selected {
	color: #8bcc00;
	font-style: italic;
	margin-right: 15pt;
	border-radius: 7px;
	-moz-border-radius: 7px;
	border-left-style: solid;
	border-left-width: 10pt;
}

.speciescontainer {
	font-size: 11pt;
}

.termscontainer {
	font-size: 11pt;
}

.optionsswitch {
	display: block;
	color: #ffffff;
	font-family: courier;
	font-size: 10pt;
	float: left;
	cursor: pointer;
	margin-top: 4pt;
	margin-left: 10pt;
	margin-right: 10pt;
	margin-bottom: 3pt;
	padding: 2pt;
}

.optionsswitch:hover {
	background-color: #bEb1b0;
	color: #000000;
	border-radius: 3pt;
	-moz-border-radius: 3pt;
}

.overTxtLabel {
	color: #aaaaaa;
	font-style: italic;
}

.closebutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #666666;
	border-radius: 3pt;
	-moz-border-radius: 3pt;
	cursor: pointer;
}

.closebutton:hover {
	background-color: #664444;
}

#logo {
	float: right;
	padding-left: 10px;
	padding-right: 20px;
	margin-top: -20px;
}

.signatures {
	font-style: italic;
	text-align: right;
}

#header {
	background-color: #d0d0d0;
	font-family: courier;
	border-radius: 11pt;
	-moz-border-radius: 11pt;
	height: 22pt;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20pt;
}

#options {
	background-color: #5E5150;
	font-family: courier;
	border-radius: 11pt;
	-moz-border-radius: 11pt;
	height: 22pt;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20pt;
}

#aboutswitch {
	color: #333333;
	font-size: 10pt;
	float: left;
	margin-top: 4pt;
	margin-left: 10pt;
	margin-right: 10pt;
	padding: 2pt;
	cursor: pointer;
}

#aboutswitch:hover {
	background-color: #a0a0a0;
	border-radius: 3pt;
	-moz-border-radius: 3pt;
}

#about {
	color: #555555;
	font-family: helvetica;
	font-size: 11pt;
	background-color: #d0d0d0;
	margin-top: -21pt;
	margin-bottom: 20pt;
	margin-left: 70px;
	padding-left: 20pt;
	padding-right: 20pt;
	padding-top: 20pt;
	padding-bottom: 10pt;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	visibility: hidden;
}

.helpbar {
	display: table;
	color: #00adee;
	font-size: 11pt;
	font-style: italic;
	margin-bottom: 8pt;
	margin-left: 12pt;
}

.helpitem {
	display: table-cell;
	padding-right: 7pt;
	vertical-align: middle;
}

.row {
	display: table;
	overflow: auto;
}

.toprow {
	display: table;
	overflow: auto;
	margin-top: -10pt;
}

.stage {
	display: table-cell;
	color: #5E5150;
	float: left;
	font-family: courier;
	letter-spacing: -20pt;
	margin-right: 20pt;
	font-size: 80pt;
	vertical-align: top;
}

.example {
	font-size: 12pt;
}

.stageaction {
	display: table-cell;
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
}

.stagesuggestions {
	display: table-cell;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	height: 210pt;
}

.stageresults {
	display: table-cell;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	height: 210pt;
}

#suggestioncontainer {
	display: block;
	float: left;
	width: 100%;
	min-height: 180pt;
}

#resultcontainer {
	display: block;
	float: left;
	width: 100%;
	line-height: 175%;
}

.suggestiontable {
	float: left;
	width: '33%';
}

table {
	cursor: default;
}

tr.table-tr-hovered {
	color: #4b7c00;
	cursor: pointer;
}

tr.table-tr-selected {
	color: #8bcc00;
	font-style: italic;
}

td.suggestiontable {
	font-family: helvetica;
	font-size: 10pt;
}

